html {
  scroll-behavior: smooth;
}

header {
    text-align: center;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    font-size: 20px;
    background-image: url(imgs/fondo-2.jpg);
}
#logo {
    color: #ffffff;
    text-shadow: #000000 2px 2px 4px;
}

body {
    background-color: #34150f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */

nav {
    display: flex;
    background-color: #8c3f27;
    justify-content: space-between;
    padding-left: 40px;
}

.nav__ul {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.nav__item{
   list-style: none; 
}

.nav__link {
    background-color: hsla(30, 49%, 50%, 0);
    color: #ffffff;
    border: none;
    display: inline-block;
    padding: 8px 10px;
    font-family: 'Heavitas', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.nav__link:hover {
    background-color: #34150f;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

h2{
    margin-top: 3%;
    font-family: 'Heavitas', sans-serif;
    font-size: 26px;
    color:#f1f1f1;
    text-align: center;
    text-shadow: #090909 5px 5px 5px;
}


.main {

    flex: 1;
    display: flex;
    padding: 20px;
    font-family: Arial;
} 

.flexbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap : 1rem;
    max-width: 100%;
    padding: 0 3%;
    font-family: arial;
    font-weight: 550;
}
#columnas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

#ficha {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
}

.datos-pj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    min-width: 200px;
    max-width: 400px;
    padding: 5px; 
    border-radius: 10px;
    color:#F1F1F1;
    font-family: "Arial" sans-serif;
    font-weight: 800;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
}

.solo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izquierda { 
    width: 15%; 
    display: inline-block;
}
.centro    { 
    width: 70%; 
}
.derecha   { 
    display: inline-block;
    width: 30%; 
}

.stats {
    display: flex;
    background-color: #a7551e;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    gap: 2rem;
}

.panel_stat{
    width: auto;
    margin-bottom: 10px;
    align-self: center;
    background-color: #ebb374;
    color: #F1F1F1;
    padding: 5px;
    border-radius: 5px;
}

.caja-texto {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

.mochila{
    width: 900px;
    height: 200px;
    resize: none;
    margin: 10px;
}

.num {
    margin-bottom: 10px;
    width: 25px;
}

.panel {
  background: rgba(255, 255, 255, 0.445);
  border: 0px solid #999;
  padding: 12px;
  height: auto;
}

/*-- Estilos de la página del mercado --*/

.navegacion{
    background-color: #ce8053;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
}

.navegacion-top{
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.navegacion-top > h2{
    margin-top: 65px;
}

.navegacion-bot{
    position: sticky;
    top: 105px;
    padding: 16px 24px;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.shop{
    padding: 16px 24px;
    align-self: stretch;
    text-decoration: none;
    justify-content: space-between;
}

.shop:hover{
    background-color: #f1f1f191;
    font-size: 22px;
    border-radius: 15px;
}
.shop:link{
    font-size: 20px;
    color: #34150f;
}
.shop:visited{
    font-size: 20px;
    color: #34150f;
}

.shop-page {
    flex: 1;
    display: flex;
    flex-direction: column; /* secciones una debajo de otra */
    gap: 4rem;
}

.shop-section { 
    padding: 0 50px;
    padding-bottom: 4rem;
}

.shop-section h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #d39858;
    text-shadow: #000000 4px 4px 4px;
}

.shop-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.shop-item {
    flex: 0 0 calc(25% - 1rem); /* 4 por fila */
    min-height: 200px;
    background: #eaceaa;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid #d39858;
    color: #34150f;
    text-align: center;
}

.shop-item h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.shop-item .price {
    font-weight: bold;
    color: #34150f;
}

footer {
    text-align: center;
    background-color: #ebb374;
}