header {
    text-align: center;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    font-size: 20px;
    background-image: url(imgs/fondo-2.jpg);
}
#logo {
    color: #ffffff;
    text-shadow: #a7551e 2px 2px 4px;
}

body {
    background-image: url(imgs/fondo-madera.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #d4a373;
    gap: 0.5rem;
    justify-content: center;
}

nav button {
    background-color: hsla(30, 49%, 50%, 0);
    color: #ffffff;
    border: none;
    padding: 0 20px;
    font-family: 'Heavitas', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
nav button:hover {
    text-shadow: #a7551e 1px 1px 2px;
}

h2{
    margin-top: 3%;
    font-family: 'Heavitas', sans-serif;
    font-size: 26px;
    color: #f1f1f1;
    text-align: center;
    text-shadow: #a7551e 5px 5px 10px;
}


.main {
    flex: 1;
    display: flex;
    padding: 20px;
    font-family: Arial;
} 

.flexbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
    gap : 1rem;
    max-width: 100%;
    padding: 0 3%;
    font-family: arial;
    font-weight: 550;
}

#ficha {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
}

.datos-pj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    min-width: 200px;
    max-width: 400px;
    padding: 5px; 
    border-radius: 10px;
    color:#F1F1F1;
    font-family: "Arial" sans-serif;
    font-weight: 800;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
}

.solo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izquierda { 
    width: 15%; 
    display: inline-block;
}
.centro    { 
    width: 70%; 
}
.derecha   { 
    display: inline-block;
    width: 30%; 
}

.stats {
    display: flex;
    background-color: #a7551e;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    gap: 2rem;
}

.panel_stat{
    width: auto;
    margin-bottom: 10px;
    align-self: center;
    background-color: #ebb374;
    color: #F1F1F1;
    padding: 5px;
    border-radius: 5px;
}

.caja-texto {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

.num {
    margin-bottom: 10px;
    width: 25px;
}

.panel {
  background: rgba(255, 255, 255, 0.445);
  border: 0px solid #999;
  padding: 12px;
  height: auto;
}

footer {
    text-align: center;
    padding: 0;
    background-color: #be8143;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    font-size: 16px;
}   