html {
  scroll-behavior: smooth;
}

header {
    text-align: center;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    font-size: 20px;
    background-image: url(imgs/fondo-2.jpg);
}
#logo {
    color: #ffffff;
    text-shadow: #a7551e 2px 2px 4px;
}

body {
    background-image: url(imgs/fondo-madera.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */

nav {
    display: flex;
    background-color: #ebb374;
    justify-content: space-between;
    padding-left: 40px;
}

.nav__ul {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.nav__item{
   list-style: none; 
}

.nav__link {
    background-color: hsla(30, 49%, 50%, 0);
    color: #ffffff;
    border: none;
    display: inline-block;
    padding: 8px 10px;
    font-family: 'Heavitas', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.nav__link:hover {
    background-color: antiquewhite;
    border-radius: 15px;
}

h2{
    margin-top: 3%;
    font-family: 'Heavitas', sans-serif;
    font-size: 26px;
    color: #f1f1f1;
    text-align: center;
    text-shadow: #a7551e 5px 5px 10px;
}


.main {
    flex: 1;
    display: flex;
    padding: 20px;
    font-family: Arial;
} 

.flexbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
    gap : 1rem;
    max-width: 100%;
    padding: 0 3%;
    font-family: arial;
    font-weight: 550;
}
#columnas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

#ficha {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
}

.datos-pj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    min-width: 200px;
    max-width: 400px;
    padding: 5px; 
    border-radius: 10px;
    color:#F1F1F1;
    font-family: "Arial" sans-serif;
    font-weight: 800;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
}

.solo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izquierda { 
    width: 15%; 
    display: inline-block;
}
.centro    { 
    width: 70%; 
}
.derecha   { 
    display: inline-block;
    width: 30%; 
}

.stats {
    display: flex;
    background-color: #a7551e;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    gap: 2rem;
}

.panel_stat{
    width: auto;
    margin-bottom: 10px;
    align-self: center;
    background-color: #ebb374;
    color: #F1F1F1;
    padding: 5px;
    border-radius: 5px;
}

.caja-texto {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

.mochila{
    width: 900px;
    height: 200px;
    resize: none;
    margin: 10px;
}

.num {
    margin-bottom: 10px;
    width: 25px;
}

.panel {
  background: rgba(255, 255, 255, 0.445);
  border: 0px solid #999;
  padding: 12px;
  height: auto;
}

/*-- Estilos de la página del mercado --*/

.navegacion{
    background-color: #faae7c;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.navegacion-top{
    justify-content: space-between;
    position: sticky;
    top: 5px;
}

.navegacion-bot{
    position: sticky;
    top: 25px;
    padding: 16px 24px;
    text-decoration: none;
    justify-content: start;
    flex-direction: column;
    display: flex;
}

.shop{
    padding: 16px 24px;
    align-self: stretch;
    text-decoration: none;
    justify-content: space-between;
}

.col{
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin: 1rem 0;

}
.item{
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}


footer {
    text-align: center;
    background-color: #ebb374;
}