html {
  scroll-behavior: smooth;
}

header {
    text-align: center;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    font-size: 20px;
    background-image: url(imgs/fondo-2.jpg);
    margin: 0;
}

body {
    background-color: #34150f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#inicio {
    color: #ffffff;
    text-shadow: #000000 2px 2px 4px;
}


h2{
    margin-top: 3%;
    font-family: 'Heavitas', sans-serif;
    font-size: 26px;
    color:#f1f1f1;
    text-align: center;
    text-shadow: #090909 5px 5px 5px;
}

h3{
    font-family: 'arial', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color:#34150f;
}

h4{
    height: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color:#f1f1f1;
}


.main {
    flex: 1;
    display: flex;
    padding: 20px;
    font-family: Arial;
} 

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap : 1rem;
    max-width: 100%;
    font-family: arial;
    font-weight: 550;
}

.flexbox2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

#columnas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.margen {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #eaceaa;
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
}

.flex2   { 
    flex: 2;
}

.flex1   { 
    display: inline-block;
    flex: 1;
}

.flex1n{
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #ce8053;
    border-radius: 10px;
}

/* Estilos de la barra de navegación */

nav {
    display: flex;
    width: 100%;
    background-color: #8c3f27;
    justify-content: start;
    padding-left: 40px;
}

.nav__ul {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.nav__item{
    list-style: none; 
    flex: 1 1 auto;
}

.nav__link {
    background-color: hsla(30, 49%, 50%, 0);
    color: #ffffff;
    border: none;
    display: inline-block;
    padding: 8px 10px;
    font-family: 'Heavitas', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.nav__link:hover {
    background-color: #34150f;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    color: inherit;
}
/*  ---------- Home page -----------*/

#puerta{
    background-color: #eaceaa;
    background-image: url(imgs/puerta.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}





/* ---------- ficha ----------- */


input[type="text"] {
  width: 100%;
  max-width: 100%;
}

.datos-pj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    padding: 5px; 
    border-radius: 10px;
    color:#F1F1F1;
    font-family: "Arial" sans-serif;
    font-weight: 800;
}


.estadisticas{
    background-color: #ce8053;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.estadisticas_pareja{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.estadisticas_stat{
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    background-color: #34150f;
    color: #F1F1F1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    flex: 1;
}

.caja-texto {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

.checks {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.mochila{
    display:flex;
    width: 90%;
    resize: none;
    height: 200px;
    margin: 10px;
}

.num {
    width: 6ch;          /* ancho exacto para 2–3 dígitos */
    text-align: center;
    padding: 2px 4px;
}

.panel {
    background: rgba(255, 255, 255, 0.750);
    border: 0px solid #999;
    padding: 12px;
    height: auto;
    border-radius: 5px;
}

/*-- Estilos de la página del mercado --*/

.navegacion{
    background-color: #ce8053;
    flex-basis: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
}

.navegacion-top{
    justify-content: left;
    position: sticky;
    top: 0px;
}

.navegacion-top > h2{
    margin-top: 65px;
}

.navegacion-bot{
    position: sticky;
    top: 105px;
    text-decoration: none;
    justify-content: left;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

/* ------ shop-section ------ */

.shop{
    padding: 16px 24px;
    align-self: stretch;
    text-decoration: none;
    justify-content: space-between;
}

.shop:hover{
    background-color: #f1f1f191;
    font-size: 22px;
    border-radius: 15px;
}
.shop:link{
    font-size: 20px;
    color: #34150f;
}
.shop:visited{
    font-size: 20px;
    color: #34150f;
}

.shop-page {
    flex: 1;
    display: flex;
    flex-direction: column; /* secciones una debajo de otra */
    gap: 4rem;
}

.shop-section { 
    padding: 0 50px;
    padding-bottom: 4rem;
}

.shop-section h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #d39858;
    text-shadow: #000000 4px 4px 4px;
}

.shop-section img{
    max-height: 250px;
    min-width: 250px;
    border-radius: 3%;
    padding-bottom: 10px;
}

.shop-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.shop-item {
    flex: 0 0 calc(25% - 1rem); /* 4 por fila */
    min-height: 200px;
    background: #eaceaa;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid #d39858;
    color: #34150f;
    text-align: center;
}

.shop-item:focus{
    border: 3px solid #ffffff;
    background-color: #e2bf91;
}

.shop-item h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.shop-item .price {
    font-weight: bold;
    color: #34150f;
}

footer {
    text-align: center;
    background-color: #ebb374;
}